ARCH?=ARM
TARGET?=max32666
SIGN?=ECC256
HASH?=SHA256
VTOR?=1
NO_ASM?=1
SPMATH?=1
RAM_CODE?=1
NVM_FLASH_WRITEONCE?=0
NO_MPU?=1
DEBUG_UART?=0
MAX32666_FTHR2?=0
MAX3266X_TPU?=0
MAX3266X_OLD?=1
MSDK_DIR?=$(PWD)/../card10-firmware-branch/lib/sdk

# External SPI NAND for update/swap; sector size = NAND erase block.
EXT_FLASH?=1
MAX32666_NAND?=1
MAX32666_NAND_BBT_CREATE?=0

# Sector size = 1 NAND erase block
WOLFBOOT_SECTOR_SIZE?=0x40000

# Partition size = 1 sector; due to the large sector size, we use a custom
# partition trailer in internal flash
MAX32666_TRAILER_ADDRESS?=0x10048000

WOLFBOOT_PARTITION_SIZE?=0x40000
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0x10008000
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0x80000
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0xC0000

# Larger bootloader for configurations with DEBUG=1
#WOLFBOOT_PARTITION_BOOT_ADDRESS?=0x10010000
#MAX32666_TRAILER_ADDRESS?=0x10050000

# Shasta sources
#SHASTA_DIR?=$(PWD)/ShastaForWolfBoot
